<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>text-preprocessor<</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">

                <h1>text-preprocessor</h1>
                <h3>text-preprocessor</h3>
                <A>GitHub repository : </A> <A href="https://github.com/ha-mulan/gpt2-FineTune-Tool"> text-preprocessor repo</A>
                <br>


<hr class="solid">

<h2>preprocess procedure</h2>
<div id="usage">
    <p>1. Remove HTML tags.</p>
    <p>2. Remove extra whitespaces.</p>
    <p>3. Convert accented characters to ASCII characters.</p>
    <p>4. Expand contractions.</p>
    <p>5. Remove special characters.</p>
    <p>6. Lowercase all texts.</p>
</div>
                <hr class="solid">

                <h2>How to use</h2>
                <div id="usage">
                    <p>1. input text to preprocess</p>
                    <p>2. Press the Run button and wait for about 3 seconds to get the result.</p>
                </div>


                <hr class="solid">
                <h2>Example</h2>
                <div id="usage">
                  <h5>if text is 'I'd like to have three cups   of coffee from your Café. #delicious'  you can checkout the result like this</h5>
                </div>
                <hr class="solid">
                <p>
                  i would like to have three cups of coffee from your cafe
  <p/>

                <hr class="solid">
                <h2>preprocess your own text </h2>
                <p>Please enter text below</p>
                <input id='text'>
                <button onclick='printName()'>RUN</button>
                <p></p>
                <script type="text/javascript">
                 function printName()  {
                   const text = document.getElementById('text').value;

                   fetch('/api/?text='+text).then(function(response){
                     response.text().then(function(text){
                       document.getElementById("result").innerText = text;
                     })
                   })
                 }
               </script>
                  <hr class="solid">
                <h2>your generated recipe</h2>
                  <hr class="solid">
                <div id='result'></div>

    </div>
            </div>
        </div>
    </body>
</HTML>
